{% extends "_base/base.html" %} {% load static %} 

<!-- galeria-->
    {% block js %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>



    function eliminaJuego(id){
        Swal.fire({
      "title": "¿Seguro que desea eliminar?",
      "text": "El juego una vez borrado no podra recuperarse",
      "icon" : "question",
      "showCancelButton" : true,
      "cancelButtonText":"No, conservar",
      "confirmButtonText":"Si, eliminar",
      "confirmButtonColor":"#dc3545"
    })
        .then(function(result){
      if(result.isConfirmed){
        window.location.href = 'eliminar_juegos/'+id+'/'
      }
    })


  }
</script>
{% if messages %}
{% for m in messages %}
<script>
  Swal.fire({
    'title' : "Realizado con exito",
    'text' : "{{m}}",
    "icon" : "success"
  })
</script>
{% endfor %}
{% endif %}
{% endblock %}
{% block content %}
<div class="text-center pt-5">
  <h1>Juegos</h1>
  <p>Descarga ahora</p>
</div>

<div class='principal-body'>
  <section id="galeria" class="container-fluid">
    <div class="row">
      {% for j in entity %}
      <div
      class="card col-12 col-sm-6 col-md-4 col-lg-2 mb-4 "
      style="margin: 0px 25px; width: 400px"
      >
        <div class="card-body " >
          <a href="{{ j.link }}" target="_blank">
          <img src="{{ j.imagen.url }}" 
          alt="Galeria imagen" 
          class="card-img-top"
          alt="..."/
           style='height: 216.6px; cursor:pointer;'
           ></a>
          <h3 class="text-center text-capitalize font-italic">
          {{ j.titulo | upper }}
          </h3>
          <p class="text-center text-capitalize font-italic">
            
          </p>
          <a href="{{j.link}}" target="_blank" class="btn btn-info ">
            Lo quiero!
          </a> &nbsp;
          <a href=" {% url 'juegos_modifica' j.id %}"   class="btn btn-primary ">
            Modificar
          </a>
          <a href="#" onclick='eliminaJuego({{ j.id }})' class="btn btn-danger ">
            Eliminar
          </a>
        </div>
{% comment %} {% url 'juegos_elimina' j.id %} {% endcomment %}

      </div>
      {% endfor %}
    </div>

  </section>
</div>
<div>
  {% include '_base/paginador.html' %}
</div>
{% endblock %}


