{% extends "_base/base.html" %} {% load static %} {% block content %}

<!-- galeria-->

<div class="text-center pt-5">
  <h1>Juegos</h1>
  <p>Descarga ahora</p>
</div>

<div class='principal-body'>
  <section id="galeria" class="container-fluid">
    <div class="row">
      {% for j in game %}
      <div
      class="card col-12 col-sm-6 col-md-4 col-lg-2 mb-4 "
      style="margin: 0px 25px; width: 400px"
      >
        <div class="card-body " >
          <a href="{{ j.link }}" target="_blank">
          <img src="{{ j.imagen.url }}" 
          alt="Galeria imagen" 
          class="card-img-top"
          alt="..."/
           style='height: 216.6px; cursor:pointer;'
           ></a>
          <h3 class="text-center text-capitalize font-italic">
          {{ j.titulo | upper }}
          </h3>
          <p class="text-center text-capitalize font-italic">
            
          </p>
          <a href="{{j.link}}" target="_blank" class="btn btn-info ">
            Lo quiero!
          </a> &nbsp;
          <a href="{% url 'juegos_modifica' j.id %}"  class="btn btn-primary ">
            Modificar
          </a>
          <a href="{% url 'juegos_elimina' j.id %}"  class="btn btn-danger ">
            Eliminar
          </a>
        </div>


      </div>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}
