{% extends "_base/base.html" %}  {% load crispy_forms_tags %}{% block content %}

<div class='principal-body'>
  <section class="container-fluid" id="noticias">
  <div class="text-center pt-5">
    <h1>Agregar</h1>
  </div>

  <div class="row" style = "padding: 30px">
    <div class="card col-12 col-md-6 offset-md-3" >
      <div class="card-body">
        <form action="" method="POST" enctype='multipart/form-data'>
          {% csrf_token %}
          {{ form | crispy }}

        <br>
          <div class='d-flex justify-content-center'>
          <input type="reset" value="Cancelar" class='btn btn-secondary'> &nbsp;
          <input type="submit" value="Agregar" class='btn btn-primary' href="{% url 'noticias'%}"> 

        </div>
        </form>


      </div>  
    </div>
  </div>
  </section>
</div>
{{ mensaje }}
{% endblock %}



