{% extends "_base/base.html" %} {% load static %} {% block content %}

<!-- noticia-->
<div class='principal-body'>
  <section class="container-fluid" id="noticias">
    <div class="text-center pt-5">
      <h1>Noticias</h1>
    </div>
    <div class="row">
      <!--separador-->
      <div
        class="card col-12 col-sm-6 col-md-4 col-lg-3 mb-4"
        style="width: 10rem"
      >
        <img
          src="{% static '_noticias/img/just.jpeg' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">lOS MEJORES JUEGOS PARA HACER DEPORTES</h5>
          <p class="card-text">
            Te traemos una selección de 8 títulos para que vayas poniéndote en
            forma con tu Switch
          </p>
          <a
            href="https://justdancenow.com/"
            target="_blank"
            class="btn btn-primary"
            >+</a
          >
        </div>
      </div>
      <!--separador-->
      <div
        class="card card col-12 col-sm-6 col-md-4 col-lg-3 mb-4"
        style="width: 10rem"
      >
        <img
          src="{% static '_noticias/img/t1.jpeg' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">T1 CAMPEÓN DEL MUNDO POR TERCERA VEZ</h5>
          <p class="card-text">
            SKT Telecom T1 ha hecho historia por convertirse en tricampeones del
            mundial de League of Legends.
          </p>
          <a
            href="https://www.forbes.com/sites/mattperez/2016/10/30/sk-telecom-t1-wins-their-third-league-of-legends-world-championship/?sh=741dcc527503"
            target="_blank"
            class="btn btn-primary"
            >+</a
          >
        </div>
      </div>
      <!--separador-->
      <div
        class="card card col-12 col-sm-6 col-md-4 col-lg-3 mb-4"
        style="width: 10rem"
      >
        <img
          src="{% static '_noticias/img/kru.jpeg'%}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">
            VALORANT:KRÜ Esports fuera de Champions 2021 tras un quinto ‘overtime’
          </h5>
          <p class="card-text">
            El club de Sergio Agüero quedó en la tercera posición del Mundial tras
            haber enfrentado a Gambit Esports. Sin duda la mejor serie de todo el
            torneo, hasta el momento.
          </p>
          <aticias
            href="https://acortar.link/pBta5J"
            target="_blank"
            class="btn btn-primary"
            >+</aticias
          >
        </div>
      </div>
      <!--separador-->
      <div
        class="card card col-12 col-sm-6 col-md-4 col-lg-3 mb-4"
        style="width: 10rem"
      >
        <img
          src="{% static '_noticias/img/lol.jpeg'%}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">LEYENDAS DEL COSPLAY-ESCUADRÓN ANIMALIA 2022</h5>
          <p class="card-text">
            ¡Ha llegado el momento de deslumbrar a todos! El segundo concurso del
            año está por comenzar. Llena el formulario, toma tu foto, comparte tu
            talento ¡y conviértete en la próxima leyenda!
          </p>
          <a
            href="https://www.leagueoflegends.com/es-mx/news/community/leyendas-del-cosplay-escuadron-animalia-2022/"
            target="_blank"
            class="btn btn-primary"
            >+</a
          >
        </div>
      </div>
  
      <!--separador-->
      <div
        class="card card col-12 col-sm-6 col-md-4 col-lg-3 mb-4"
        style="width: 10rem"
      >
        <img
          src="{% static '_noticias/img/freefire.jpg'%}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">
            Free Fire:recompensas, eventos y todo sobre la colaboración con BTS
          </h5>
          <p class="card-text">
            ¡La actualización Héroes (OB33) llegó acompañada por una de las
            agrupaciones musicales más populares de los últimos tiempos! Ya
            tenemos el calendario de eventos que revela la fecha, cosméticos,
            aspectos y recompensas de la colaboración de Free Fire con el grupo de
            K-Pop BTS.
          </p>
          <a
            href="https://www.gamerfocus.co/juegos/free-fire-bts-atuendos-recompensas-calendario-eventos-colaboracion-banda-k-pop/"
            target="_blank"
            class="btn btn-primary"
            >+</a
          >
        </div>
      </div>
  
      <!--separador-->
      <div
        class="card card col-12 col-sm-6 col-md-4 col-lg-3 mb-4"
        style="width: 10rem"
      >
        <img
          src="{% static '_noticias/img/pokemon_not.jpg'%}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Pokedex</h5>
          <p class="card-text">Busca tu pokémon favorito en nuestra pokedex.</p>
          <a href="../templates/api.html" target="_blank" class="btn btn-primary"
            >+</a
          >
        </div>
      </div>
      <!--separador-->
      <div
        class="card card col-12 col-sm-6 col-md-4 col-lg-3 mb-4"
        style="width: 10rem"
      >
        <img
          src="{% static '_noticias/img/nuevoscampeones.jpg'%}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">MAPA DE CAMPEONES: ABRIL 2022</h5>
          <p class="card-text">
            ¡No te atrevas a cerrar los ojos! El equipo de campeones se trae algo
            entre manos. Algo hermoso, algo inevitable, algo vaticinado. Una nueva
            contendiente para todos los jugadores de la jungla. Una nueva
            emperatriz a la que someterse... y te someterás.
          </p>
          <a
            href="https://www.leagueoflegends.com/es-mx/news/dev/mapa-de-campeones-abril-2022/"
            target="_blank"
            class="btn btn-primary"
            >+</a
          >
        </div>
      </div>
  
      <!--separador-->
      <div
        class="card card col-12 col-sm-6 col-md-4 col-lg-3 mb-4"
        style="width: 10rem"
      >
        <img
          src="{% static '_noticias/img/valorant.jpg'%}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">ACTUALIZACIONES VALORANT</h5>
          <p class="card-text">
            ¡No te pierdas ninguna actualización en este link.
          </p>
          <a
            href="https://playvalorant.com/es-es/news/game-updates/"
            target="_blank"
            class="btn btn-primary"
            >+</a
          >
        </div>
      </div>
    </div>
  </section>
  <script
    src="https://kit.fontawesome.com/54884d8b08.js"
    crossorigin="anonymous"
  ></script>
</div class='principal-body'>
{% endblock %}
